<html>
<head>
    <title>Exams</title>
    <style>
        body {
            font-family: "Courier New", serif;
        }

        table > thead > tr > td {
            font-weight: bold;
        }

        table > tbody > tr > td {
            text-align: center;
        }

        table > tbody > tr > td.session {
            text-align: left;
        }

        /*#exams > tbody > tr:nth-child(1) > td:nth-child(3) */
    </style>
</head>
<body>
<h1>Exams</h1>
<table id="exams">
    <thead>
    <tr>
        <td>{{message "course"}}</td>
        <td>{{message "exam"}}</td>
        <td>{{message "session"}}</td>
    </tr>
    </thead>
    <tbody>
    {{#exams}}
        <tr>
            <td>{{ course.code }}</td>
            <td>{{ code }}</td>
            <td class="session">{{ datetime start "dd MMM y, H:m"}} - {{ duration }}</td>
        </tr>
    {{/exams}}
    </tbody>
</table>
</body>
</html>
